@import "tailwindcss";
body {
    background-color: #03012dff;
    margin: 10px 10px;
    color: #ffffff;
    user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}